* {
	margin: 0px;
	padding: 0px;
}

.corpo {
	background-color: rgb(255, 255, 255);
}

.logo {
	margin-left: 30px;
	padding-right: 20px;
}

.imgLogo {
	width: 60px;
	margin-left: 10px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.tituloProduto {
	color: white;
	font-size: 1.5ch;
	text-align: center;
}

.descricaoProduto {
	font-size: 1ch;
	color: white;
	text-align: center;
}

.imgProduto {
	height: 250px;
}

.desconto {
	color: rgb(0, 255, 0);
}

.parcela {
	color: rgb(252, 72, 72);
}

.imgCarrinho {
	width: 70px;
}

label {
	color: black;
	font-size: 12em;
}